<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
  <h1><center>Playlists</center></h1>
  <div class="box">
    <!-- Add a loop for my_playlists here -->

      <div class="card">

        <!-- Add the relative url here for playlist with id of current playlist -->
        <a href="{% for playlist in my_playlists %}">

          <div class="imgBx">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3mb4W9ZYrm64cv-S2uAxQJ_Q1NPL4nVlJLw&usqp=CAU" alt="images">
          </div>
          <div class="details">
              <h2>
                <!-- Add the playlist name -->
                {{playlist.name}}
                
                <br>
                <span>
                <!-- Add the songs in the playlist  -->
                {{playlist.numberOfSongs}}
                
                </span>
            </h2>
          </div>
        </a>
      </div>
    <!-- End the loop for my_playlists -->
    {% endfor%}
    
  </div>
</body>
</html>